body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

h3 {
    text-align: center;
    color: green;
}

table th, table td {
    border-bottom: solid 1px grey;
}